<div class="flex justify-center items-center min-h-screen bg-gray-100">
  <mat-card class="w-full max-w-md p-8 shadow-lg">
    <mat-card-title class="text-center text-2xl mb-4">Iniciar Sesión</mat-card-title>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-card-content>
        <div class="w-full mt-8">
          <mat-form-field appearance="fill" class="w-full mt-5">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="username" />
            <mat-error *ngIf="loginForm.get('username')?.hasError('required')">
              Por favor, introduce un correo electronico
            </mat-error>
            <mat-error *ngIf="loginForm.get('username')?.hasError('email')">
              Correo electronico no valido
            </mat-error>
          </mat-form-field>
          <br/>
          <mat-form-field appearance="fill" class="w-full mt-5">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password" />
            <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
              Por favor, introduce la contraseña
            </mat-error>
          </mat-form-field>
        </div>
        <div *ngIf="loginError" class="mt-4 p-2 bg-red-100 text-red-700 rounded">
          Contraseña incorrecta. Por favor, intenta de nuevo.
        </div>
      </mat-card-content>
      <mat-card-actions class="flex justify-center mt-7">
        <button mat-raised-button color="primary" type="submit">
          Iniciar sesión
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
