<div class="d-flex align-items-center justify-content-center mx-auto mt-5">
  <div class="card shadow-sm mx-auto" style="max-width: 24rem;">
    <div class="card-header text-center">
      <h3 class="card-title mb-0">Iniciar sesión</h3>
      <p class="card-text text-muted small">Ingresa tu email y contraseña para acceder a tu cuenta.</p>
    </div>
    <div class="card-body">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" id="email" class="form-control" formControlName="username" />
          <div *ngIf="loginForm.get('username')?.hasError('email')" class="text-danger small">
            *Correo electrónico no válido
          </div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Contraseña</label>
          <input type="password" id="password" class="form-control" formControlName="password" />
          <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.hasError('required')" class="text-danger small">
            *Por favor, introduce la contraseña
          </div>
        </div>
        <button type="submit" class="btn btn-primary w-100">
          Iniciar sesión
        </button>
      </form>
    </div>
  </div>
</div>
